.item{
    background-color: rgb(157, 177, 212);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header{
    background-color:rgb(85, 99, 124);
    color:antiquewhite;
}  
p{
    color:rgb(34, 19, 54);
}